@import "tailwindcss";

@theme {
  --color-dark: #0d1117;
  --color-light: #ffffff;
  --color-highlight: #e3ff6a;
  --color-neon-green: #a4ff7a;
  --color-deep-blue: #1e293b;
  --color-soft-gray: #8892b0;
  --gradient-main: linear-gradient(135deg, #1e293b 0%, #0d1117 100%);
}
.bg-gradient-hero {
  width: 100%;
  background-image: linear-gradient(
    180deg,
    rgb(0, 4, 20) 0%,
    rgb(42, 66, 114) 90%
  );
}

.img-hero {
  filter: drop-shadow(-4px -4px 120px rgb(194, 194, 41));
}
